openapi: 3.1.0
info:
  description: |
    API reference for Late. Authenticate with a Bearer API key.
    Base URL: https://getlate.dev/api
  title: Late API
  version: 1.0.1
servers:
- description: Production
  url: https://getlate.dev/api
- description: Local
  url: http://localhost:3000/api
security:
- bearerAuth: []
tags:
- name: Posts
- name: Users
- name: Usage
- name: Profiles
- name: Accounts
- name: Account Groups
- name: API Keys
- name: Invites
- name: Connect
- name: Media
- name: Reddit Search
- name: Facebook
- name: GMB Reviews
- name: GMB Food Menus
- name: GMB Location Details
- name: GMB Media
- name: GMB Attributes
- name: GMB Place Actions
- name: LinkedIn Mentions
- name: Pinterest
- name: TikTok
- name: Queue
- name: Analytics
- description: |
    Check and manage inbox feature access.
  name: Inbox Access
- description: |
    Unified inbox API for managing conversations and direct messages across all connected accounts.
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Messages
- description: |
    Unified inbox API for managing comments on posts across all connected accounts.
    Supports commenting on third-party posts for platforms that allow it (YouTube, Twitter, Reddit, Bluesky, Threads).
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Comments
- description: |
    Unified inbox API for managing reviews on Facebook Pages and Google Business accounts.
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Reviews
- description: |
    Media download and utility tools. Available to paid plans only.
    Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
    All responses include X-RateLimit-Limit, X-RateLimit-Remaining, and X-RateLimit-Reset headers.
  name: Tools
- description: |
    Configure webhooks to receive real-time notifications about post status changes, account events, and incoming messages.

    **Available Events:**
    - `post.scheduled` - When a post is successfully scheduled
    - `post.published` - When a post is successfully published
    - `post.failed` - When a post fails to publish on all platforms
    - `post.partial` - When a post publishes to some platforms but fails on others
    - `account.connected` - When a social account is successfully connected
    - `account.disconnected` - When a social account is disconnected (token expired/revoked)
    - `message.received` - When a new DM is received (Instagram, Telegram)

    **Security:**
    - Optional HMAC-SHA256 signature sent in `X-Late-Signature` header
    - Configure a secret key in webhook settings to enable signature verification
    - Custom headers can be added to webhook requests for additional authentication
  name: Webhooks
- description: |
    Publishing logs for transparency and debugging. Shows detailed records of all post publishing attempts.

    **Log Data Includes:**
    - Platform API endpoint called
    - HTTP status code
    - Request body (content preview, media URLs)
    - Response body (platform post ID/URL or error details)
    - Duration and retry attempts

    **Retention:** Logs are automatically deleted after 7 days via TTL index.
  name: Logs
paths:
  /v1/tools/youtube/download:
    get:
      description: |
        Download YouTube videos or audio. Returns available formats or direct download URL.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadYouTubeVideo
      parameters:
      - description: YouTube video URL or video ID
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://www.youtube.com/watch?v=dQw4w9WgXcQ
          type: string
        style: form
      - description: "Action to perform: 'download' returns download URL, 'formats'\
          \ lists available formats"
        explode: true
        in: query
        name: action
        required: false
        schema:
          default: download
          enum:
          - download
          - formats
          type: string
        style: form
      - description: Desired format (when action=download)
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: video
          enum:
          - video
          - audio
          type: string
        style: form
      - description: Desired quality (when action=download)
        explode: true
        in: query
        name: quality
        required: false
        schema:
          default: hd
          enum:
          - hd
          - sd
          type: string
        style: form
      - description: Specific format ID from formats list
        explode: true
        in: query
        name: formatId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadYouTubeVideo_200_response"
          description: Success
          headers:
            X-RateLimit-Limit:
              description: Daily rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Remaining:
              description: Remaining calls today
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp when limit resets
              explode: false
              schema:
                type: string
              style: simple
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tools API not available on free plan
        "429":
          description: Daily rate limit exceeded
      security:
      - bearerAuth: []
      summary: Download YouTube video or audio
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/youtube/transcript:
    get:
      description: |
        Extract transcript/captions from a YouTube video.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: getYouTubeTranscript
      parameters:
      - description: YouTube video URL or video ID
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: Language code for transcript
        explode: true
        in: query
        name: lang
        required: false
        schema:
          default: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeTranscript_200_response"
          description: Success
        "404":
          description: No transcript available
      security:
      - bearerAuth: []
      summary: Get YouTube video transcript
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/instagram/download:
    get:
      description: |
        Download Instagram reels, posts, or photos.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadInstagramMedia
      parameters:
      - description: Instagram reel or post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://www.instagram.com/reel/ABC123/
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadInstagramMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Instagram reel or post
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/instagram/hashtag-checker:
    post:
      description: |
        Check if Instagram hashtags are banned, restricted, or safe to use.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: checkInstagramHashtags
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkInstagramHashtags_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkInstagramHashtags_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Check Instagram hashtags for bans
      tags:
      - Tools
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/tiktok/download:
    get:
      description: |
        Download TikTok videos with or without watermark.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadTikTokVideo
      parameters:
      - description: TikTok video URL or ID
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: '''formats'' to list available formats'
        explode: true
        in: query
        name: action
        required: false
        schema:
          default: download
          enum:
          - download
          - formats
          type: string
        style: form
      - description: "Specific format ID (0 = no watermark, etc.)"
        explode: true
        in: query
        name: formatId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadTikTokVideo_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download TikTok video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/twitter/download:
    get:
      description: |
        Download videos from Twitter/X posts.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadTwitterMedia
      parameters:
      - description: Twitter/X post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://x.com/user/status/123456789
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          default: download
          enum:
          - download
          - formats
          type: string
        style: form
      - explode: true
        in: query
        name: formatId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadInstagramMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Twitter/X video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/facebook/download:
    get:
      description: |
        Download videos and reels from Facebook.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadFacebookVideo
      parameters:
      - description: Facebook video or reel URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadFacebookVideo_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Facebook video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/linkedin/download:
    get:
      description: |
        Download videos from LinkedIn posts.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadLinkedInVideo
      parameters:
      - description: LinkedIn post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadInstagramMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download LinkedIn video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/bluesky/download:
    get:
      description: |
        Download videos from Bluesky posts.

        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      operationId: downloadBlueskyMedia
      parameters:
      - description: Bluesky post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://bsky.app/profile/user.bsky.social/post/abc123
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadBlueskyMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Bluesky video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/analytics:
    get:
      description: |
        Returns analytics for posts. If postId is provided, returns analytics for a single post.
        Otherwise returns a paginated list of posts with overview stats.

        **Important: Understanding Post IDs**

        This endpoint uses two types of posts:
        - **Late Posts** - Posts scheduled/created via the Late API (e.g., via `POST /v1/posts`)
        - **External Posts** - Posts synced from social platforms for analytics tracking

        When you schedule a post via Late and it gets published, **both** records exist:
        1. The original Late Post (returned when you created the post)
        2. An External Post (created when we sync analytics from the platform)

        **List endpoint behavior:**
        - Returns External Post IDs (`_id` field)
        - Use the `isExternal` field to identify post origin:
          - `isExternal: true` - Synced from platform (may have been originally scheduled via Late)
          - `isExternal: false` - Late-scheduled post (shown when querying by Late post ID)

        **Single post behavior (`postId` parameter):**
        - Accepts **both** Late Post IDs and External Post IDs
        - If you pass a Late Post ID, the API automatically resolves it to the corresponding External Post analytics
        - Both return the same analytics data for the same underlying social media post

        **Correlating posts:** Use `latePostId` to link analytics entries back to the original post created via `POST /v1/posts`. This field contains the Late Post ID when the external post originated from Late. Alternatively, use `platformPostUrl` (e.g., `https://www.instagram.com/reel/ABC123/`) as a stable identifier.

        **Note:** For follower count history and growth metrics, use the dedicated `/v1/accounts/follower-stats` endpoint.

        **LinkedIn Analytics:**
        - **Personal Accounts:** Per-post analytics available for posts published through Late. External posts cannot be synced due to LinkedIn API restrictions.
        - **Organization Accounts:** Full analytics support including external post syncing.

        **Telegram Analytics:**
        - **Not available.** The Telegram Bot API does not provide message view counts, forwards, or engagement metrics. This is a Telegram platform limitation, not a Late limitation. View counts are only visible to channel admins in the Telegram app.

        **Data Freshness:** Analytics data is cached and refreshed at most once per hour. When you call this endpoint, if the cache is older than 60 minutes, a background refresh is triggered and you'll see updated data on subsequent requests. There is no rate limit on API requests.
      operationId: getAnalytics
      parameters:
      - description: "Returns analytics for a single post. Accepts both Late Post\
          \ IDs (from `POST /v1/posts`) \nand External Post IDs (from this endpoint's\
          \ list response). The API automatically \nresolves Late Post IDs to their\
          \ corresponding External Post analytics.\n"
        explode: true
        in: query
        name: postId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by platform (default "all")
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID (default "all")
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter by post source:
          - `late` - Only posts scheduled/published via Late API
          - `external` - Only posts synced from the platform (not posted via Late)
          - `all` - All posts (default)
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      - description: Inclusive lower bound
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Inclusive upper bound
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Page size (default 50)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Page number (default 1)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Sort by date or engagement
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: date
          enum:
          - date
          - engagement
          type: string
        style: form
      - description: Sort order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                singlePost:
                  summary: Single post analytics
                  value:
                    postId: 65f1c0a9e2b5af0012ab34cd
                    latePostId: 65f1c0a9e2b5af0012ab34ab
                    status: published
                    content: Check out our new product launch!
                    scheduledFor: 2024-11-01T10:00:00Z
                    publishedAt: 2024-11-01T10:00:05Z
                    analytics:
                      impressions: 15420
                      reach: 12350
                      likes: 342
                      comments: 28
                      shares: 45
                      clicks: 189
                      views: 0
                      engagementRate: 2.78
                      lastUpdated: 2024-11-02T08:30:00Z
                    platformAnalytics:
                    - platform: twitter
                      status: published
                      accountId: 64e1f0a9e2b5af0012ab34cd
                      accountUsername: '@acmecorp'
                      analytics:
                        impressions: 15420
                        reach: 12350
                        likes: 342
                        comments: 28
                        shares: 45
                        clicks: 189
                        views: 0
                        engagementRate: 2.78
                        lastUpdated: 2024-11-02T08:30:00Z
                    platform: twitter
                    platformPostUrl: https://twitter.com/acmecorp/status/123456789
                    isExternal: false
                postList:
                  description: "Note: The list endpoint returns External Post IDs.\
                    \ Posts originally \nscheduled via Late will have isExternal:\
                    \ true in this response.\nUse platformPostUrl to correlate with\
                    \ your original Late Post IDs.\n"
                  summary: Paginated analytics list
                  value:
                    overview:
                      totalPosts: 156
                      publishedPosts: 142
                      scheduledPosts: 0
                      lastSync: 2024-11-02T08:30:00Z
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      latePostId: 65f1c0a9e2b5af0012ab34ab
                      content: Check out our new product launch!
                      scheduledFor: 2024-11-01T10:00:00Z
                      publishedAt: 2024-11-01T10:00:05Z
                      status: published
                      analytics:
                        impressions: 15420
                        likes: 342
                        comments: 28
                        engagementRate: 2.78
                        lastUpdated: 2024-11-02T08:30:00Z
                      platforms:
                      - platform: instagram
                        status: published
                        analytics:
                          impressions: 15420
                          likes: 342
                          comments: 28
                      platform: instagram
                      platformPostUrl: https://www.instagram.com/reel/ABC123xyz/
                      isExternal: true
                      thumbnailUrl: https://storage.example.com/thumb.jpg
                      mediaType: video
                    pagination:
                      page: 1
                      limit: 50
                      total: 156
                      pages: 4
                    accounts:
                    - _id: 64e1f0...
                      platform: twitter
                      username: '@acmecorp'
                      displayName: Acme Corp
                      isActive: true
                    hasAnalyticsAccess: true
              schema:
                $ref: "#/components/schemas/getAnalytics_200_response"
          description: Analytics result
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      summary: Unified analytics for posts
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/youtube/daily-views:
    get:
      description: |
        Returns historical daily view counts for a specific YouTube video.
        Uses YouTube Analytics API v2 to fetch daily breakdowns including views,
        watch time, and subscriber changes.

        **Required Scope:** This endpoint requires the `yt-analytics.readonly` OAuth scope.
        Existing YouTube accounts may need to re-authorize to grant this permission.
        If the scope is missing, the response will include a `reauthorizeUrl`.

        **Data Latency:** YouTube Analytics data has a 2-3 day delay. The `endDate`
        is automatically capped to 3 days ago.

        **Date Range:** Maximum 90 days of historical data available. Defaults to last 30 days.
      operationId: getYouTubeDailyViews
      parameters:
      - description: "The YouTube video ID (e.g., \"dQw4w9WgXcQ\")"
        explode: true
        in: query
        name: videoId
        required: true
        schema:
          type: string
        style: form
      - description: The Late account ID for the YouTube account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to 3 days ago (YouTube data latency).
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  summary: Successful response with daily views
                  value:
                    success: true
                    videoId: dQw4w9WgXcQ
                    dateRange:
                      startDate: 2025-01-01
                      endDate: 2025-01-12
                    totalViews: 12345
                    dailyViews:
                    - date: 2025-01-12
                      views: 1234
                      estimatedMinutesWatched: 567.5
                      averageViewDuration: 45.2
                      subscribersGained: 10
                      subscribersLost: 2
                      likes: 89
                      comments: 12
                      shares: 5
                    - date: 2025-01-11
                      views: 987
                      estimatedMinutesWatched: 432.1
                      averageViewDuration: 43.8
                      subscribersGained: 8
                      subscribersLost: 1
                      likes: 67
                      comments: 8
                      shares: 3
                    lastSyncedAt: 2025-01-15T12:00:00Z
                    scopeStatus:
                      hasAnalyticsScope: true
              schema:
                $ref: "#/components/schemas/YouTubeDailyViewsResponse"
          description: Daily views breakdown
        "400":
          content:
            application/json:
              examples:
                missingVideoId:
                  value:
                    error: videoId is required
                invalidDate:
                  value:
                    error: Invalid startDate format. Use YYYY-MM-DD.
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (missing or invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "412":
          content:
            application/json:
              examples:
                scopeMissing:
                  summary: YouTube Analytics scope not granted
                  value:
                    success: false
                    error: "To access daily video analytics, please reconnect your\
                      \ YouTube account to grant the required permissions."
                    code: youtube_analytics_scope_missing
                    scopeStatus:
                      hasAnalyticsScope: false
                      requiresReauthorization: true
                      reauthorizeUrl: https://accounts.google.com/o/oauth2/auth?client_id=...
              schema:
                $ref: "#/components/schemas/YouTubeScopeMissingResponse"
          description: Missing YouTube Analytics scope
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_500_response"
          description: Internal server error
      summary: YouTube daily views breakdown
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/account-groups:
    get:
      operationId: listAccountGroups
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    groups:
                    - _id: 6507a1b2c3d4e5f6a7b8c9d0
                      name: Marketing Accounts
                      accountIds:
                      - 64e1f0a9e2b5af0012ab34cd
                      - 64e1f0a9e2b5af0012ab34ce
                    - _id: 6507a1b2c3d4e5f6a7b8c9d1
                      name: Personal Brand
                      accountIds:
                      - 64e1f0a9e2b5af0012ab34cf
              schema:
                $ref: "#/components/schemas/listAccountGroups_200_response"
          description: Groups
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List account groups for the authenticated user
      tags:
      - Account Groups
      x-accepts:
      - application/json
    post:
      operationId: createAccountGroup
      requestBody:
        content:
          application/json:
            example:
              name: Marketing Accounts
              accountIds:
              - 64e1f0a9e2b5af0012ab34cd
              - 64e1f0a9e2b5af0012ab34ce
            schema:
              $ref: "#/components/schemas/createAccountGroup_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                message: Account group created successfully
                group:
                  _id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Marketing Accounts
                  accountIds:
                  - 64e1f0a9e2b5af0012ab34cd
                  - 64e1f0a9e2b5af0012ab34ce
              schema:
                $ref: "#/components/schemas/createAccountGroup_201_response"
          description: Created
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Group name already exists
      summary: Create a new account group
      tags:
      - Account Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account-groups/{groupId}:
    delete:
      operationId: deleteAccountGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account group deleted successfully
              schema:
                $ref: "#/components/schemas/deleteAccountGroup_200_response"
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete an account group
      tags:
      - Account Groups
      x-accepts:
      - application/json
    put:
      operationId: updateAccountGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Updated Marketing Accounts
              accountIds:
              - 64e1f0a9e2b5af0012ab34cd
              - 64e1f0a9e2b5af0012ab34ce
              - 64e1f0a9e2b5af0012ab34cf
            schema:
              $ref: "#/components/schemas/updateAccountGroup_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account group updated successfully
                group:
                  _id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Updated Marketing Accounts
                  accountIds:
                  - 64e1f0a9e2b5af0012ab34cd
                  - 64e1f0a9e2b5af0012ab34ce
                  - 64e1f0a9e2b5af0012ab34cf
              schema:
                $ref: "#/components/schemas/updateAccountGroup_200_response"
          description: Updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Group name already exists
      summary: Update an account group
      tags:
      - Account Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/media/presign:
    post:
      description: |
        Get a presigned URL to upload files directly to cloud storage. This is the recommended method for uploading files of any size, especially files larger than ~4MB.

        **How it works:**
        1. Call this endpoint with the filename and content type
        2. Receive an `uploadUrl` (presigned) and `publicUrl`
        3. PUT your file directly to the `uploadUrl`
        4. Use the `publicUrl` in your posts

        **Benefits:**
        - Supports files up to 5GB
        - Files upload directly to storage (faster, no server bottleneck)
        - No 413 errors from server body size limits

        **Example:**
        ```javascript
        // Step 1: Get presigned URL
        const response = await fetch('https://getlate.dev/api/v1/media/presign', {
          method: 'POST',
          headers: {
            'Authorization': 'Bearer YOUR_API_KEY',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            filename: 'my-video.mp4',
            contentType: 'video/mp4'
          })
        });
        const { uploadUrl, publicUrl } = await response.json();

        // Step 2: Upload file directly to storage
        await fetch(uploadUrl, {
          method: 'PUT',
          body: file,
          headers: { 'Content-Type': 'video/mp4' }
        });

        // Step 3: Use publicUrl when creating your post
        // The publicUrl is ready to use immediately after upload completes
        ```
      operationId: getMediaPresignedUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getMediaPresignedUrl_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                uploadUrl: <presigned-upload-url>
                publicUrl: https://media.getlate.dev/temp/1234567890_abc123_my-video.mp4
                key: temp/1234567890_abc123_my-video.mp4
                type: video
              schema:
                $ref: "#/components/schemas/getMediaPresignedUrl_200_response"
          description: Presigned URL generated successfully
        "400":
          content:
            application/json:
              examples:
                missing_filename:
                  value:
                    error: filename and contentType are required
                invalid_type:
                  value:
                    error: "Content type not allowed: text/plain"
                file_too_large:
                  value:
                    error: File too large. Maximum size is 5GB.
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: "Invalid request (missing filename, contentType, or unsupported\
            \ content type)"
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: Get a presigned URL for direct file upload (up to 5GB)
      tags:
      - Media
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/reddit/search:
    get:
      operationId: searchReddit
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subreddit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: restrict_sr
        required: false
        schema:
          enum:
          - "0"
          - "1"
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: new
          enum:
          - relevance
          - hot
          - top
          - new
          - comments
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                posts:
                - id: 1abc234
                  title: How to grow on social media in 2025
                  selftext: Here are my tips...
                  author: marketingpro
                  subreddit: socialmedia
                  score: 156
                  num_comments: 42
                  created_utc: 1730000000
                  permalink: /r/socialmedia/comments/1abc234/how_to_grow/
                after: t3_1abc234
              schema:
                $ref: "#/components/schemas/searchReddit_200_response"
          description: Search results
        "400":
          description: Missing params
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Account not found
      summary: Search Reddit posts via a connected account
      tags:
      - Reddit Search
      x-accepts:
      - application/json
  /v1/reddit/feed:
    get:
      operationId: getRedditFeed
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subreddit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: hot
          enum:
          - hot
          - new
          - top
          - rising
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: t
        required: false
        schema:
          enum:
          - hour
          - day
          - week
          - month
          - year
          - all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                posts:
                - id: 1xyz789
                  title: Top marketing trends this week
                  author: trendwatcher
                  subreddit: marketing
                  score: 892
                  num_comments: 134
                  created_utc: 1730100000
                  permalink: /r/marketing/comments/1xyz789/top_marketing_trends/
                - id: 1def456
                  title: My social media strategy that worked
                  author: growthexpert
                  subreddit: marketing
                  score: 567
                  num_comments: 89
                  created_utc: 1730050000
                  permalink: /r/marketing/comments/1def456/my_social_media_strategy/
                after: t3_1def456
              schema:
                $ref: "#/components/schemas/getRedditFeed_200_response"
          description: Feed items
        "400":
          description: Missing params
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Account not found
      summary: Fetch subreddit feed via a connected account
      tags:
      - Reddit Search
      x-accepts:
      - application/json
  /v1/usage-stats:
    get:
      operationId: getUsageStats
      responses:
        "200":
          content:
            application/json:
              example:
                planName: Pro
                billingPeriod: monthly
                signupDate: 2024-01-15T10:30:00Z
                limits:
                  uploads: 500
                  profiles: 10
                usage:
                  uploads: 127
                  profiles: 3
                  lastReset: 2024-11-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/UsageStats"
          description: Usage stats
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Get plan and usage stats for current account
      tags:
      - Usage
      x-accepts:
      - application/json
  /v1/posts:
    get:
      description: |
        **Getting Post URLs:**
        For published posts, each platform entry includes `platformPostUrl` with the public URL.
        Use `status=published` filter to fetch only published posts with their URLs.

        Notes and constraints by platform when interpreting the response:
        - YouTube: posts always include at least one video in mediaItems.
        - Instagram/TikTok: posts always include media; drafts may omit media until finalized in client.
        - TikTok: mediaItems will not mix photos and videos in the same post.
      operationId: listPosts
      parameters:
      - $ref: "#/components/parameters/PageParam"
      - $ref: "#/components/parameters/LimitParam"
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - scheduled
          - published
          - failed
          type: string
        style: form
      - explode: true
        in: query
        name: platform
        required: false
        schema:
          example: twitter
          type: string
        style: form
      - explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: createdBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: includeHidden
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                scheduledPost:
                  summary: Scheduled post (pending publish)
                  value:
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: scheduled
                      scheduledFor: 2024-11-01T10:00:00Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0...
                          platform: twitter
                          username: '@acme'
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                      tags:
                      - launch
                      createdAt: 2024-10-01T12:00:00Z
                      updatedAt: 2024-10-01T12:00:00Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 1
                      pages: 1
                publishedPost:
                  summary: Published post with platformPostUrl
                  value:
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: published
                      scheduledFor: 2024-11-01T10:00:00Z
                      publishedAt: 2024-11-01T10:00:05Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: linkedin
                          username: acme-corporation
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:06Z
                        platformPostId: urn:li:share:7123456789012345678
                        platformPostUrl: https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678
                      tags:
                      - launch
                      createdAt: 2024-10-01T12:00:00Z
                      updatedAt: 2024-11-01T10:00:06Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 1
                      pages: 1
              schema:
                $ref: "#/components/schemas/PostsListResponse"
          description: Paginated posts
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List posts visible to the authenticated user
      tags:
      - Posts
      x-accepts:
      - application/json
    post:
      description: |
        **Getting Post URLs:**
        - For immediate posts (`publishNow: true`): The response includes `platformPostUrl` in each platform entry under `post.platforms[]`.
        - For scheduled posts: Fetch the post via `GET /v1/posts/{postId}` after the scheduled time; `platformPostUrl` will be populated once published.

        **Content/Caption requirements:**
        - `content` (caption/description) is optional when:
          - Media is attached (`mediaItems` or per-platform `customMedia`)
          - All platforms have `customContent` set
          - Posting only to YouTube (title is used instead)
        - Text-only posts (no media) require `content`
        - Stories do not use captions (content is ignored)
        - Reels, feed posts, and other media posts can have optional captions

        Platform constraints:
        - YouTube requires a video in mediaItems; optional custom thumbnail via MediaItem.thumbnail.
        - Instagram and TikTok require media; do not mix videos and images for TikTok.
        - Instagram carousels support up to 10 items; Stories publish as 'story'.
        - Threads carousels support up to 10 images (no videos in carousels); single posts support one image or video.
        - Facebook Stories require media (single image or video); set contentType to 'story' in platformSpecificData.
        - LinkedIn multi-image supports up to 20 images; single PDF documents supported (max 100MB, ~300 pages, cannot mix with other media).
        - Pinterest supports single image via image_url or a single video per Pin; boardId is required.
        - Bluesky supports up to 4 images per post. Images may be automatically recompressed to ≤ ~1MB to satisfy Bluesky's blob limit. When no media is attached, a link preview may be generated for URLs in the text.
        - Snapchat requires media (single image or video); set contentType to 'story', 'saved_story', or 'spotlight' in platformSpecificData. Stories are ephemeral (24h), Saved Stories are permanent, Spotlight is for video content.

        **Multi-page/multi-location posting:**
        Some platforms allow posting to multiple pages, organizations, or locations from a single account connection.
        Use the same accountId multiple times with different targets in platformSpecificData:
        - Facebook: `pageId` - post to multiple Facebook Pages (list via GET /v1/accounts/{id}/facebook-page)
        - LinkedIn: `organizationUrn` - post to multiple organizations (list via GET /v1/accounts/{id}/linkedin-organizations)
        - Google Business: `locationId` - post to multiple locations (list via GET /v1/accounts/{id}/gmb-locations)
        - Reddit: `subreddit` - post to multiple subreddits from the same account
      operationId: createPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPost_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                scheduled:
                  summary: Scheduled post (URLs populated after publish time)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: scheduled
                      scheduledFor: 2024-11-01T10:00:00Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0...
                          platform: twitter
                          username: '@acme'
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                    message: Post scheduled successfully
                immediatePublish:
                  summary: Immediate post with publishNow=true (URLs included)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: published
                      publishedAt: 2024-11-01T10:00:05Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: linkedin
                          username: acme-corporation
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:06Z
                        platformPostId: urn:li:share:7123456789012345678
                        platformPostUrl: https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678
                    message: Post published successfully
                queueScheduled:
                  summary: Post scheduled via queue (using queuedFromProfile)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      content: Scheduled via queue!
                      status: scheduled
                      scheduledFor: 2024-11-01T09:00:00Z
                      timezone: America/New_York
                      queuedFromProfile: 64f0a1b2c3d4e5f6a7b8c9d0
                      queueId: 64f0a1b2c3d4e5f6a7b8c9d1
                      platforms:
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0...
                          platform: linkedin
                          username: acme-corp
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                    message: Post scheduled successfully
              schema:
                $ref: "#/components/schemas/PostCreateResponse"
          description: Post created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Validation error
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_409_response"
          description: Duplicate content detected
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_429_response"
          description: |
            Rate limit exceeded. Can be triggered by:
            - **API rate limit**: Requests per minute exceeded (Free: 60, Build: 120, Accelerate: 600, Unlimited: 1,200)
            - **Velocity limit**: 15 posts per hour per account exceeded
            - **Account cooldown**: Account temporarily rate-limited due to repeated errors (escalating: 10min, 20min, 40min, up to 24h)
            - **Daily post limit**: Platform daily limits exceeded (X: 20, Pinterest: 25, Instagram/Facebook: 100, Threads: 250, others: 50)
          headers:
            Retry-After:
              description: Seconds until the rate limit resets (for API rate limits)
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: The rate limit ceiling
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Requests remaining in current window
              explode: false
              schema:
                type: integer
              style: simple
      summary: "Create a draft, scheduled, or immediate post"
      tags:
      - Posts
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/{postId}:
    delete:
      description: "Delete a post. Published posts cannot be deleted. \nWhen deleting\
        \ a scheduled or draft post that consumed upload quota, the quota will be\
        \ automatically refunded.\n"
      operationId: deletePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Post deleted successfully
              schema:
                $ref: "#/components/schemas/PostDeleteResponse"
          description: Deleted
        "400":
          description: Cannot delete published posts
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a post
      tags:
      - Posts
      x-accepts:
      - application/json
    get:
      description: "Fetch a single post by ID. For published posts, this returns `platformPostUrl`\
        \ \nfor each platform - useful for retrieving post URLs after scheduled posts\
        \ publish.\n"
      operationId: getPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                scheduledPost:
                  summary: Scheduled post (pending)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: scheduled
                      scheduledFor: 2024-11-01T10:00:00Z
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0...
                          platform: twitter
                          username: '@acme'
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                publishedPost:
                  summary: Published post with platformPostUrl
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: published
                      publishedAt: 2024-11-01T10:00:05Z
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: linkedin
                          username: acme-corporation
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:06Z
                        platformPostId: urn:li:share:7123456789012345678
                        platformPostUrl: https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678
                failedPost:
                  summary: Failed post with error details
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      content: This post failed to publish
                      status: failed
                      platforms:
                      - platform: instagram
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: instagram
                          username: acmecorp
                          isActive: false
                        status: failed
                        errorMessage: Instagram access token has expired. Please reconnect
                          your account.
                        errorCategory: auth_expired
                        errorSource: user
                partialPost:
                  summary: Partial success (some platforms failed)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      content: Launch announcement!
                      status: partial
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: threads
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: threads
                          username: acmecorp
                          isActive: true
                        status: failed
                        errorMessage: Post text exceeds the 500 character limit for
                          Threads.
                        errorCategory: user_content
                        errorSource: user
              schema:
                $ref: "#/components/schemas/PostGetResponse"
          description: Post
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Get a single post
      tags:
      - Posts
      x-accepts:
      - application/json
    put:
      description: |
        Update an existing post. Only draft, scheduled, failed, and partial posts can be edited.
        Published, publishing, and cancelled posts cannot be modified.
      operationId: updatePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              content: Updated content for our launch post!
              scheduledFor: 2024-11-02T14:00:00Z
            schema:
              additionalProperties: true
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Post updated successfully
                post:
                  _id: 65f1c0a9e2b5af0012ab34cd
                  content: Updated content for our launch post!
                  status: scheduled
                  scheduledFor: 2024-11-02T14:00:00Z
              schema:
                $ref: "#/components/schemas/PostUpdateResponse"
          description: Post updated
        "207":
          description: Partial publish success
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Update a post
      tags:
      - Posts
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/bulk-upload:
    post:
      operationId: bulkUploadPosts
      parameters:
      - explode: true
        in: query
        name: dryRun
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/bulkUploadPosts_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                totalRows: 10
                created: 8
                failed: 2
                errors:
                - row: 3
                  error: Invalid date format
                - row: 7
                  error: Account not found
                posts:
                - _id: 65f1c0a9e2b5af0012ab34cd
                  content: First bulk post
                  status: scheduled
                  scheduledFor: 2024-11-01T10:00:00Z
              schema:
                $ref: "#/components/schemas/bulkUploadPosts_200_response"
          description: Bulk upload results
        "207":
          description: Partial success
        "400":
          description: Invalid CSV or validation errors
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkUploadPosts_429_response"
          description: |
            Rate limit exceeded. Can be triggered by:
            - **API rate limit**: Requests per minute exceeded
            - **Account cooldown**: One or more accounts are temporarily rate-limited
      summary: Validate and schedule multiple posts from CSV
      tags:
      - Posts
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /v1/posts/{postId}/retry:
    post:
      operationId: retryPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Post published successfully
                post:
                  _id: 65f1c0a9e2b5af0012ab34cd
                  content: Check out our new product!
                  status: published
                  publishedAt: 2024-11-01T10:00:05Z
                  platforms:
                  - platform: twitter
                    accountId:
                      _id: 64e1f0...
                      platform: twitter
                      username: '@acme'
                      displayName: Acme Corp
                      isActive: true
                    status: published
                    platformPostId: "1234567890"
                    platformPostUrl: https://twitter.com/acme/status/1234567890
              schema:
                $ref: "#/components/schemas/PostRetryResponse"
          description: Retry successful
        "207":
          description: Partial success
        "400":
          description: Invalid state
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Post is currently publishing
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkUploadPosts_429_response"
          description: |
            Rate limit exceeded. Can be triggered by:
            - **API rate limit**: Requests per minute exceeded
            - **Velocity limit**: 15 posts per hour per account exceeded
            - **Account cooldown**: Account temporarily rate-limited due to repeated errors
      summary: Retry publishing a failed or partial post
      tags:
      - Posts
      x-accepts:
      - application/json
  /v1/users:
    get:
      operationId: listUsers
      responses:
        "200":
          content:
            application/json:
              example:
                currentUserId: 6507a1b2c3d4e5f6a7b8c9d0
                users:
                - _id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: John Doe
                  email: john@example.com
                  role: owner
                  isRoot: true
                  profileAccess:
                  - all
                  createdAt: 2024-01-15T10:30:00Z
                - _id: 6507a1b2c3d4e5f6a7b8c9d1
                  name: Jane Smith
                  email: jane@example.com
                  role: member
                  isRoot: false
                  profileAccess:
                  - 64f0a1b2c3d4e5f6a7b8c9d0
                  - 64f0a1b2c3d4e5f6a7b8c9d1
                  createdAt: 2024-03-20T14:45:00Z
              schema:
                $ref: "#/components/schemas/listUsers_200_response"
          description: Users
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List team users (root + invited)
      tags:
      - Users
      x-accepts:
      - application/json
  /v1/users/{userId}:
    get:
      operationId: getUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  _id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: John Doe
                  email: john@example.com
                  role: owner
                  isRoot: true
                  profileAccess:
                  - all
              schema:
                $ref: "#/components/schemas/getUser_200_response"
          description: User
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Get user by id (self or invited)
      tags:
      - Users
      x-accepts:
      - application/json
  /v1/profiles:
    get:
      description: |
        Returns profiles within the user's plan limit. Profiles are sorted by creation date (oldest first).
        Use `includeOverLimit=true` to include profiles that exceed the plan limit (for management/deletion purposes).
      operationId: listProfiles
      parameters:
      - description: |
          When true, includes profiles that exceed the user's plan limit.
          Over-limit profiles will have `isOverLimit: true` in the response.
          Useful for managing/deleting profiles after a plan downgrade.
        explode: true
        in: query
        name: includeOverLimit
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    profiles:
                    - _id: 64f0...
                      name: Personal Brand
                      color: "#ffeda0"
                      isDefault: true
              schema:
                $ref: "#/components/schemas/ProfilesListResponse"
          description: Profiles
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List profiles visible to the authenticated user
      tags:
      - Profiles
      x-accepts:
      - application/json
    post:
      operationId: createProfile
      requestBody:
        content:
          application/json:
            example:
              name: Marketing Team
              description: Profile for marketing campaigns
              color: "#4CAF50"
            schema:
              $ref: "#/components/schemas/createProfile_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                message: Profile created successfully
                profile:
                  _id: 64f0a1b2c3d4e5f6a7b8c9d0
                  userId: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Marketing Team
                  description: Profile for marketing campaigns
                  color: "#4CAF50"
                  isDefault: false
                  createdAt: 2024-11-01T10:00:00Z
              schema:
                $ref: "#/components/schemas/ProfileCreateResponse"
          description: Created
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Profile limit exceeded
      summary: Create a new profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/profiles/{profileId}:
    delete:
      operationId: deleteProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Profile deleted successfully
              schema:
                $ref: "#/components/schemas/deleteAccountGroup_200_response"
          description: Deleted
        "400":
          description: Has connected accounts
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a profile (must have no connected accounts)
      tags:
      - Profiles
      x-accepts:
      - application/json
    get:
      operationId: getProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                profile:
                  _id: 64f0a1b2c3d4e5f6a7b8c9d0
                  userId: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Marketing Team
                  description: Profile for marketing campaigns
                  color: "#4CAF50"
                  isDefault: false
                  createdAt: 2024-11-01T10:00:00Z
              schema:
                $ref: "#/components/schemas/getProfile_200_response"
          description: Profile
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Get a profile by id
      tags:
      - Profiles
      x-accepts:
      - application/json
    put:
      operationId: updateProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Marketing Team (Updated)
              color: "#2196F3"
              isDefault: true
            schema:
              $ref: "#/components/schemas/updateProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Profile updated successfully
                profile:
                  _id: 64f0a1b2c3d4e5f6a7b8c9d0
                  userId: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Marketing Team (Updated)
                  description: Profile for marketing campaigns
                  color: "#2196F3"
                  isDefault: true
                  createdAt: 2024-11-01T10:00:00Z
              schema:
                $ref: "#/components/schemas/updateProfile_200_response"
          description: Updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Update a profile
      tags:
      - Profiles
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/accounts:
    get:
      description: |
        Returns list of connected social accounts.
        By default, only returns accounts from profiles within the user's plan limit.
        Follower count data (followersCount, followersLastUpdated) is only included if user has analytics add-on.
      operationId: listAccounts
      parameters:
      - description: Filter accounts by profile ID
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: |
          When true, includes accounts from profiles that exceed the user's plan limit.
          Useful for disconnecting accounts from over-limit profiles so they can be deleted.
        explode: true
        in: query
        name: includeOverLimit
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    accounts:
                    - _id: 64e1...
                      platform: twitter
                      profileId:
                        _id: 64f0...
                        name: My Brand
                        slug: my-brand
                      username: '@acme'
                      displayName: Acme
                      profileUrl: https://x.com/acme
                      isActive: true
                    hasAnalyticsAccess: false
              schema:
                $ref: "#/components/schemas/listAccounts_200_response"
          description: Accounts
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List connected social accounts
      tags:
      - Accounts
      x-accepts:
      - application/json
  /v1/accounts/follower-stats:
    get:
      description: |
        Returns follower count history and growth metrics for connected social accounts.
        **Requires analytics add-on subscription.**

        **Data Freshness:** Follower counts are automatically refreshed once per day.
      operationId: getFollowerStats
      parameters:
      - description: "Comma-separated list of account IDs (optional, defaults to all\
          \ user's accounts)"
        explode: true
        in: query
        name: accountIds
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: Start date in YYYY-MM-DD format (defaults to 30 days ago)
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date in YYYY-MM-DD format (defaults to today)
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Data aggregation level
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - weekly
          - monthly
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    accounts:
                    - _id: 64e1...
                      platform: twitter
                      username: '@acme'
                      currentFollowers: 1250
                      growth: 50
                      growthPercentage: 4.17
                      dataPoints: 30
                    stats:
                      "64e1...":
                      - date: 2024-01-01
                        followers: 1200
                      - date: 2024-01-02
                        followers: 1250
                    dateRange:
                      from: 2024-01-01T00:00:00.000Z
                      to: 2024-01-31T23:59:59.999Z
                    granularity: daily
              schema:
                $ref: "#/components/schemas/getFollowerStats_200_response"
          description: Follower stats
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getFollowerStats_403_response"
          description: Analytics add-on required
      summary: Get follower stats and growth metrics
      tags:
      - Accounts
      - Analytics
      x-accepts:
      - application/json
  /v1/accounts/{accountId}:
    delete:
      operationId: deleteAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account disconnected successfully
              schema:
                $ref: "#/components/schemas/deleteAccountGroup_200_response"
          description: Disconnected
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Disconnect a social account
      tags:
      - Accounts
      x-accepts:
      - application/json
    put:
      operationId: updateAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              displayName: Acme Corporation Official
            schema:
              $ref: "#/components/schemas/updateAccount_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account updated successfully
                username: '@acmecorp'
                displayName: Acme Corporation Official
              schema:
                $ref: "#/components/schemas/updateAccount_200_response"
          description: Updated
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Update a social account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/accounts/health:
    get:
      description: |
        Returns the health status of all connected social accounts, including token validity,
        permissions status, and any issues that need attention. Useful for monitoring account
        connections and identifying accounts that need reconnection.
      operationId: getAllAccountsHealth
      parameters:
      - description: Filter by profile ID
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by platform
        explode: true
        in: query
        name: platform
        required: false
        schema:
          enum:
          - facebook
          - instagram
          - linkedin
          - twitter
          - tiktok
          - youtube
          - threads
          - pinterest
          - reddit
          - bluesky
          - googlebusiness
          - telegram
          - snapchat
          type: string
        style: form
      - description: Filter by health status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - healthy
          - warning
          - error
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                summary:
                  total: 5
                  healthy: 3
                  warning: 1
                  error: 1
                  needsReconnect: 1
                accounts:
                - accountId: abc123
                  platform: instagram
                  username: myaccount
                  status: healthy
                  canPost: true
                  canFetchAnalytics: true
                  tokenValid: true
                  tokenExpiresAt: 2025-06-15T00:00:00Z
                  needsReconnect: false
                  issues: []
                - accountId: def456
                  platform: twitter
                  username: mytwitter
                  status: error
                  canPost: false
                  canFetchAnalytics: false
                  tokenValid: false
                  needsReconnect: true
                  issues:
                  - Token expired
              schema:
                $ref: "#/components/schemas/getAllAccountsHealth_200_response"
          description: Account health summary
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: Check health of all connected accounts
      tags:
      - Accounts
      x-accepts:
      - application/json
  /v1/accounts/{accountId}/health:
    get:
      description: |
        Returns detailed health information for a specific social account, including token status,
        granted permissions, missing permissions, and actionable recommendations.
      operationId: getAccountHealth
      parameters:
      - description: The account ID to check
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                accountId: abc123
                platform: instagram
                username: myaccount
                displayName: My Account
                status: healthy
                tokenStatus:
                  valid: true
                  expiresAt: 2025-06-15T00:00:00Z
                  expiresIn: 180 days
                  needsRefresh: false
                permissions:
                  posting:
                  - scope: instagram_basic
                    granted: true
                    required: true
                  - scope: instagram_content_publish
                    granted: true
                    required: true
                  analytics:
                  - scope: instagram_manage_insights
                    granted: true
                    required: false
                  optional: []
                  canPost: true
                  canFetchAnalytics: true
                  missingRequired: []
                issues: []
                recommendations: []
              schema:
                $ref: "#/components/schemas/getAccountHealth_200_response"
          description: Account health details
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Check health of a specific account
      tags:
      - Accounts
      x-accepts:
      - application/json
  /v1/api-keys:
    get:
      operationId: listApiKeys
      responses:
        "200":
          content:
            application/json:
              example:
                apiKeys:
                - id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Production API Key
                  keyPreview: late_...xyz123
                  expiresAt: 2025-12-31T23:59:59Z
                  createdAt: 2024-01-15T10:30:00Z
                - id: 6507a1b2c3d4e5f6a7b8c9d1
                  name: Development Key
                  keyPreview: late_...abc789
                  expiresAt: null
                  createdAt: 2024-03-20T14:45:00Z
              schema:
                $ref: "#/components/schemas/listApiKeys_200_response"
          description: API keys
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List API keys for the current user
      tags:
      - API Keys
      x-accepts:
      - application/json
    post:
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            example:
              name: Production API Key
              expiresIn: 365
            schema:
              $ref: "#/components/schemas/createApiKey_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                message: API key created successfully
                apiKey:
                  id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Production API Key
                  keyPreview: late_...xyz123
                  key: late_sk_1234567890abcdef1234567890abcdef
                  expiresAt: 2025-12-31T23:59:59Z
                  createdAt: 2024-01-15T10:30:00Z
              schema:
                $ref: "#/components/schemas/createApiKey_201_response"
          description: Created
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: Create a new API key
      tags:
      - API Keys
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/api-keys/{keyId}:
    delete:
      operationId: deleteApiKey
      parameters:
      - explode: false
        in: path
        name: keyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: API key deleted successfully
              schema:
                $ref: "#/components/schemas/deleteAccountGroup_200_response"
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete an API key
      tags:
      - API Keys
      x-accepts:
      - application/json
  /v1/invite/tokens:
    post:
      description: |
        Generate a secure invite link to grant team members access to your profiles.
        Invites expire after 7 days and are single-use.
      operationId: createInviteToken
      requestBody:
        content:
          application/json:
            example:
              scope: profiles
              profileIds:
              - 64f0a1b2c3d4e5f6a7b8c9d0
              - 64f0a1b2c3d4e5f6a7b8c9d1
            schema:
              $ref: "#/components/schemas/createInviteToken_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                token: inv_abc123def456ghi789
                scope: profiles
                invitedProfileIds:
                - 64f0a1b2c3d4e5f6a7b8c9d0
                - 64f0a1b2c3d4e5f6a7b8c9d1
                expiresAt: 2024-11-08T10:30:00Z
                inviteUrl: https://getlate.dev/invite/inv_abc123def456ghi789
              schema:
                $ref: "#/components/schemas/createInviteToken_201_response"
          description: Invite token created
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: One or more profiles not found or not owned
      summary: Create a team member invite token
      tags:
      - Invites
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/{platform}:
    get:
      description: "Initiate an OAuth connection flow for any supported social media\
        \ platform.\n\n**Standard Flow (Hosted UI):**\nFor Facebook connections, Late\
        \ hosts the page selection UI:\n\n1. Call this endpoint with your API key\
        \ and `redirect_url` (optional)\n2. Redirect your user to the returned `authUrl`\n\
        3. After OAuth, the user is redirected to Late’s hosted page selector at \
        \ \n   `/connect/facebook/select-page?profileId=X&tempToken=Y&userProfile=Z&redirect_url=YOUR_URL&connect_token=CT`\n\
        4. After they pick a page, Late saves the connection and finally redirects\
        \ to your `redirect_url` (if provided)\n\n**Headless/Whitelabel Mode (Facebook,\
        \ LinkedIn, Pinterest & Google Business Profile):**\nBuild your own fully\
        \ branded selection UI while Late handles OAuth:\n\n**Facebook:**\n1. Call\
        \ this endpoint with your API key and add `&headless=true`, e.g.  \n   `GET\
        \ /v1/connect/facebook?profileId=PROFILE_ID&redirect_url=https://yourapp.com/callback&headless=true`\n\
        2. Redirect your user to the returned `authUrl`\n3. After OAuth, the user\
        \ is redirected directly to **your** `redirect_url` with:\n   - `profileId`\
        \ – your Late profile ID  \n   - `tempToken` – temporary Facebook access token\
        \  \n   - `userProfile` – URL‑encoded JSON user profile  \n   - `connect_token`\
        \ – short‑lived connect token (for API auth)  \n   - `platform=facebook` \
        \ \n   - `step=select_page`\n4. Use `tempToken`, `userProfile`, and the `X-Connect-Token`\
        \ header with:\n   - `GET /v1/connect/facebook/select-page` to fetch pages\n\
        \   - `POST /v1/connect/facebook/select-page` to save the selected page\n\
        5. In this mode, users never see Late's hosted page selector – only your UI.\n\
        \n**LinkedIn:**\n1. Call this endpoint with `&headless=true`, e.g.\n   `GET\
        \ /v1/connect/linkedin?profileId=PROFILE_ID&redirect_url=https://yourapp.com/callback&headless=true`\n\
        2. Redirect your user to the returned `authUrl`\n3. After OAuth, the user\
        \ is redirected directly to **your** `redirect_url` with:\n   - `profileId`\
        \ – your Late profile ID\n   - `pendingDataToken` – token to fetch OAuth data\
        \ via API (see step 4)\n   - `connect_token` – short-lived connect token (for\
        \ API auth)\n   - `platform=linkedin`\n   - `step=select_organization`\n4.\
        \ Call `GET /v1/connect/pending-data?token=PENDING_DATA_TOKEN` to fetch the\
        \ OAuth data:\n   - `tempToken` – temporary LinkedIn access token\n   - `userProfile`\
        \ – JSON object with `id`, `username`, `displayName`, `profilePicture`\n \
        \  - `organizations` – JSON array with `id`, `urn`, `name`, `vanityName` for\
        \ each org\n   - `refreshToken` / `expiresIn` – token metadata\n   This endpoint\
        \ is one-time use and data expires after 10 minutes.\n5. **Optional:** To\
        \ fetch full organization details (logos, website, industry, description),\
        \ call `GET /v1/connect/linkedin/organizations?tempToken=X&orgIds=id1,id2,...`\n\
        6. Call `POST /v1/connect/linkedin/select-organization` with the `X-Connect-Token`\
        \ header to save the selection.\n7. In this mode, users never see Late's hosted\
        \ organization selector – only your UI.\n8. Note: If the user has no organization\
        \ admin access, `step=select_organization` will NOT be present,\n   and the\
        \ account will be connected directly as a personal account.\n\n**Pinterest:**\n\
        1. Call this endpoint with `&headless=true`, e.g.\n   `GET /v1/connect/pinterest?profileId=PROFILE_ID&redirect_url=https://yourapp.com/callback&headless=true`\n\
        2. Redirect your user to the returned `authUrl`\n3. After OAuth, the user\
        \ is redirected directly to **your** `redirect_url` with:\n   - `profileId`\
        \ – your Late profile ID\n   - `tempToken` – temporary Pinterest access token\n\
        \   - `userProfile` – URL‑encoded JSON user profile\n   - `connect_token`\
        \ – short‑lived connect token (for API auth)\n   - `platform=pinterest`\n\
        \   - `step=select_board`\n4. Use `tempToken`, `userProfile`, and the `X-Connect-Token`\
        \ header with:\n   - `GET /v1/connect/pinterest/select-board` to fetch boards\n\
        \   - `POST /v1/connect/pinterest/select-board` to save the selected board\n\
        5. In this mode, users never see Late's hosted board selector – only your\
        \ UI.\n\n**Google Business Profile:**\n1. Call this endpoint with `&headless=true`,\
        \ e.g.\n   `GET /v1/connect/googlebusiness?profileId=PROFILE_ID&redirect_url=https://yourapp.com/callback&headless=true`\n\
        2. Redirect your user to the returned `authUrl`\n3. After OAuth, the user\
        \ is redirected directly to **your** `redirect_url` with:\n   - `profileId`\
        \ – your Late profile ID\n   - `tempToken` – temporary Google access token\n\
        \   - `userProfile` – URL‑encoded JSON user profile (includes refresh token\
        \ info)\n   - `connect_token` – short‑lived connect token (for API auth)\n\
        \   - `platform=googlebusiness`\n   - `step=select_location`\n4. Use `tempToken`,\
        \ `userProfile`, and the `X-Connect-Token` header with:\n   - `GET /v1/connect/googlebusiness/locations`\
        \ to fetch business locations\n   - `POST /v1/connect/googlebusiness/select-location`\
        \ to save the selected location\n5. In this mode, users never see Late's hosted\
        \ location selector – only your UI.\n"
      operationId: getConnectUrl
      parameters:
      - description: Social media platform to connect
        explode: false
        in: path
        name: platform
        required: true
        schema:
          enum:
          - facebook
          - instagram
          - linkedin
          - twitter
          - tiktok
          - youtube
          - threads
          - reddit
          - pinterest
          - bluesky
          - googlebusiness
          - telegram
          - snapchat
          type: string
        style: simple
[...]
